{% extends 'web_autos/base.html' %}

{% block title %}Home - CarVilla{% endblock %}

{% block content %}
<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>Get your desired car at a reasonable price</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
            <button class="welcome-btn" onclick="window.location.href='#'">Contact us</button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="model-search-content">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>Select year</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">
                                        <option value="default">Year</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-model-search">
                                <h2>Body style</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">
                                        <option value="default">Style</option>
                                        <option value="sedan">Sedan</option>
                                        <option value="van">Van</option>
                                        <option value="roadster">Roadster</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>Select make</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">
                                        <option value="default">Make</option>
                                        <option value="toyota">Toyota</option>
                                        <option value="holden">Holden</option>
                                        <option value="maecedes-benz">Mercedes-Benz</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-model-search">
                                <h2>Car condition</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">
                                        <option value="default">Condition</option>
                                        <option value="new">New</option>
                                        <option value="used">Used</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>Select model</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">
                                        <option value="default">Model</option>
                                        <option value="kia-rio">Kia Rio</option>
                                        <option value="mitsubishi">Mitsubishi</option>
                                        <option value="ford">Ford</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-model-search">
                                <h2>Select price</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">
                                        <option value="default">Price</option>
                                        <option value="$0.00">$0.00</option>
                                        <option value="$10,000">$10,000</option>
                                        <option value="$20,000">$20,000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="single-model-search text-center">
                                <button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.welcome-hero-->
{% endblock %}
